<div class="row bus-stop-lookup active">

    <div class="col-3 xs-col-6 xs-col-right">

        <h2>Search Stops</h2>
        <input type="text" class="search" placeholder="Type stop name..."/>

        <ul class="clickable searched-stops">
            Loading...
        </ul>

    </div>
    <div class="col-3 xs-col-6 xs-col-left">

        <h2>Nearby Stops</h2>

        <ul class="clickable nearby-stops">
            Loading...
        </ul>

    </div>
</div>

<div class="clear"></div>

<div class="row arriving-soon">

    <h2>
        Busses arriving at <em class="selected-stop"></em> soon
    </h2>
    <div class="clear"></div>
    <h3 style="margin: 15px 0;">
        <span class="btn btn-back" id="back-to-search">Back</span>
        <span class="btn btn-refresh" id="force-refresh">Refresh</span>
    </h3>
    

    <ul class="upcoming-buses">
        Loading...
    </ul>

</div>