<!DOCTYPE HTML>
<html>
<head>
    <link rel="manifest" href="/manifest.json">

    <title>Tallinja Next Bus</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/Assets/site.css" type="text/css" rel="stylesheet" />
    <script src="/Assets/site.js"></script>


    <link rel="apple-touch-icon" sizes="180x180" href="/Assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/Assets/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/Assets/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/Assets/manifest.json">
    <link rel="mask-icon" href="/Assets/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/Assets/favicon.ico">
    <meta name="msapplication-config" content="/Assets/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
    <script>
        var OneSignal = window.OneSignal || [];
        OneSignal.push(["init", {
            appId: "d88197f0-c247-4085-a72f-a7ac7aade44a",
            autoRegister: false,
            notifyButton: {
                enable: true, 
                size: 'large',
                displayPredicate: function () {
                    return OneSignal.isPushNotificationsEnabled()
                        .then(function (isPushEnabled) {
                            /* The user is subscribed, so we want to return "false" to hide the notify button */
                            return !isPushEnabled;
                        });
                },
            }
        }]);
    </script>

</head>
<body>

    <div class="notification"></div>

    @RenderBody()
</body>
</html>