* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}
body {
    background: #2b2b2b;
    position: relative;
    height: 100vh;
}

/*
 Primary: #e4eaf6   // Blue
 Secondary: #e4eaf6 // Grey
 Tertiary: #87c301  // Green
*/

h1, h2, h3, h4{
    color: #e4eaf6;
    font-weight: 600;
}
    h1 span, h2 span, h3 span, h4 span {
        color: #002664;
    }

.text-light {
    color: #e4eaf6;
}
.text-dark {
    color: #002664;
}

em{
    color: #87c301;
    font-style: normal;
}

/*
    Columns
*/
.row{
    width: 100%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6{
    padding: 20px;
    float: left;
}

.col-1{
    width: 16.666%;
}
.col-2{
    width: 33.333%;
}
.col-3{
    width: 50%;
}
.col-4{
    width: 66.666%;
}
.col-5{
    width: 83.333%;
}
.col-6{
    width: 100%;
}

/* 
    XS
*/
@media only screen and (max-width: 380px) {
    
    .xs-col-6{
        width: 100%;
    }

    .xs-col-right{
        float: right;
    }

    .xs-col-left{
        float: left;
    }
}

/*
    Utilities
*/
.clear{
    clear: both;
}

.hidden{
    display: none;
}

/*
    Notification
*/
.notification {
    z-index: 999;
    padding: 15px;
    background: #87c301;
    color: #ffffff;
    position: absolute;
    display: inline-block;
    top: -50px;
    right: 20px;
    transition: 0.8s all;
}

.notification.active {
    top: 20px;
}

/*
    List
*/

ul{
    list-style: none;
}

ul li{
    background: #e4eaf6;
    margin: 10px 0;
    padding: 10px;
}

ul.clickable li{    
    background-image: url(/Assets/arrow-right.png);
    background-repeat: no-repeat;
    background-size: 31px 20px;
    background-position: right 10px center;
    cursor: pointer;
}

/*
    Form
*/
input[type=text]{
    width: 100%;
    font-size: 20px;
    padding: 5px;
    font-weight: 600;
    border: 1px grey #e4eaf6;
}

/*
    Buttons
*/
.btn{
    font-weight: 600;

    cursor: pointer;
    background: #e4eaf6;
    border: none;
    padding: 10px 20px;
}

.btn-back{
    background-image: url(/Assets/arrow-left.png);
    background-repeat: no-repeat;
    background-size: 31px 20px;
    background-position: left 10px center;
    padding-left: 50px;
}

/* Page transition */
body{
    
}
    body.transitioning{
        overflow: hidden;
    }

.bus-stop-lookup{
    transition: left 0.8s;
    position:absolute;
    left: -100%;
    top: 0;
}
    .bus-stop-lookup.active{
        left: 0%;
    }

.arriving-soon{
    transition: left 0.8s;
    position:absolute;    
    left: 100%;
    top: 0;
}
    .arriving-soon.active{
        left: 0%;
    }

.upcoming-buses {
    color: #002664;
}

/* Notifications */
.notify{
    float: right;
}